<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<connectionStrings>
  <add name="AzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=ccdemostore;AccountKey=MFUwvHfNLn4TBatLg7EfBaf4KelKOjvGKLfpKSDtvcg9q4VQ8+qYt6+X0l/zNnXtTDMXp7BArREbHJtw28HBFA==;"/>
</connectionStrings>
</configuration>